<article class="hentry entry-{{article.id}}{{#if forloop.first}} first{{/if}}{{#if forloop.last}} last{{/if}}">
<header>
	<h1 class="entry-title">{{ article.title | escape | link_to: article.url }}</h1>
	{{> article_meta }}
</header>