<div id="customer-login" class="account-session-module">
	<div class="inner">
	
  	<h3>Member Sign-in</h3>  
  	{{form customer_login}}
  	  <fieldset>
		
  			{{#if settings.customer_account_login_text != }}
  			<p class="note">{{ settings.customer_account_login_text }}</p>
  			{{/if}}
		
  			{{#if form.errors}}
  				<div class="alert alert-error">
  					<a class="close" data-dismiss="alert">×</a>
  					<ul class="error-list">
  						{{for field in form.errors}}
  							<li>{{ form.errors.messages[field] }}</li>
  						{{/for}}
  					</ul>
  				</div>
  		 {{/if}}
	
  			<div class="control-group">
           <!-- <label class="control-label" for="customer_email">Email Address</label> -->
           <div class="controls">
						<input type="email" class="span12" name="customer[email]" id="customer_email" placeholder="Email address">
           </div>
         </div>
         
  			{{#if form.password_needed}}
  				<div class="control-group">
            <!-- <label class="control-label" for="customer_password">Password</label> -->
            <div class="controls">
							<input type="password" class="span12" name="customer[password]" id="customer_password" placeholder="Password">
            </div>
          </div>
        {{/if}}

  			<div class="form-actions">
  			  <button type="submit" class="btn btn-primary btn-large">Login</button>
  			  <a href="#" id="reset-password" class="secondary">Forgot your password?</a>
  			</div>

  	  </fieldset>
  	{{/form}}
	
	</div>
</div>