<div id="customer-reset-password" class="account-session-module">
	<div class="inner">
	
  	<h3>Reset Password</h3>
  	{{form reset_customer_password}}
  		<fieldset>		
			
  			{{#if form.errors}}
  				<div class="alert alert-error">
  					<a class="close" data-dismiss="alert">×</a>
  					<ul class="error-list">
  						{{for field in form.errors}}
  							<li>{{ form.errors.messages[field] }}</li>
  						{{/for}}
  					</ul>
  				</div>
  		 {{/if}}
		
				<div class="control-group">
				  <label class="control-label" for="customer_password">Password</label>
				  <div class="controls">
				    <div class="input-prepend">
				      <span class="add-on"><i class="icon-key"></i></span><input type="password" class="input-large" name="customer[password]" id="customer_password">
				    </div>
				  </div>
				</div>
				
				<div class="control-group">
				  <label class="control-label" for="password_confirmation">Confirm Password</label>
				  <div class="controls">
				    <div class="input-prepend">
				      <span class="add-on"><i class="icon-key"></i></span><input type="password" class="input-large" name="customer[password_confirmation]" id="customer_password_confirmation">
				    </div>
				  </div>
				</div>

  			<div class="form-actions">
          <button type="submit" class="btn btn-primary btn-large">Reset Password</button>
        </div>

  		</fieldset>
  	{{/form}}
  	
	</div>
</div>