<div id="customer-recover-password" class="account-session-module">
	<div class="inner">
	
  	<h3>Reset Password</h3>
  	{{form recover_customer_password}}
  		<fieldset>		
        <p class="note">Enter your email address below and well send you a link for resetting your password.</p><br />
			
  			{{#if form.errors}}
  				<div class="alert alert-error">
  					<a class="close" data-dismiss="alert">×</a>
  					<ul class="error-list">
  						{{for field in form.errors}}
  							<li>{{ form.errors.messages[field] }}</li>
  						{{/for}}
  					</ul>
  				</div>
  		 {{/if}}
		
				<div class="control-group">
					<!-- <label class="control-label" for="customer_email">Email Address</label> -->
					<div class="controls">
						<input type="email" class="span12" name="customer[email]" id="recover-email" placeholder="Email address">
					</div>
				</div>

  			<div class="form-actions">
           <button type="submit" class="btn btn-primary btn-large">Submit</button>
           <a href="#" id="reset-password-cancel" class="secondary">Cancel</a>
         </div>

  		</fieldset>
  	{{/form}}
  	
	</div>
</div>