<span class="session">
{{#if shop.customer_accounts_enabled}}
  {{#if customer}}
	<span class="account-welcome">
	<a href="/account">Hi there, {{ customer.first_name }}</a>
	</span>
	<span class="divider">/</span>
	<span class="account-logout">
	{{ "Sign-out" | customer_logout_link }}
	</span>
	{{else}}
	<span class="account-login">
	{{ "Sign-in" | customer_login_link }}
	</span>
  {{/if}}
	<span>or</span>
{{/if}}
</span>