<div id="header-actions" class="visible-desktop tcl">
	<div class="container-fluid">
		{{> header_cart }}
		<span class="divider">/</span>
		{{> header_session }}
		<a class="checkout" href="/cart">Checkout</a>
	</div>
</div>