{{#if settings.product_display_sharing_google_plus? or settings.product_display_sharing_twitter? or settings.product_display_sharing_facebook? or settings.product_display_sharing_pinterest?}}
{{include share with product}}
{{/if}}

{{#if settings.product_display_tags? and product.tags.size > 0}}
<div class="tags">
<i class="icon-tags"></i> 
{{for tag in product.tags}}
<a href="/collections/all/{{tag}}" rel="tag">{{ tag }}</a>
{{/for}}
</div>
{{/if}}