{{assign page_content_instance = widget_page_content_ | append: widget_instance}}
{{assign page_content = settings[page_content_instance]}}

<div class="page-content">
	{{ pages[page_content].content }}
</div>
