{% if settings.collection_display_browse? %}
	{% if collection.all_tags.size > 0 %}
		<div class="tag-filter">
			<form>
				<fieldset class="clearfix">
				  <div class="control-group">
						{% if settings.collection_browse_text %}
				    <label class="control-label">{{ settings.collection_browse_text }}</label>
						{% endif %}
				    <div class="controls">
				      <select id="collection-tags" class="customselect">
				        <option value="">All</option>
						    {% for tag in collection.all_tags %}
						    <option value="{{ tag | handle }}" id="{{ tag | handle }}"{% if current_tags contains tag %} selected{% endif %}>{{ tag }}</option>		
						    {% endfor %}
				      </select>
				    </div>
				  </div>
				</fieldset>
			</form>
		</div>
	{% endif %}
{% endif %}