<div id="header-search" class="visible-desktop">
	<form class="form-search form-inline" name="search" action="/search"> 
	  <input type="text" name="q" class="input-small search-query search replace" placeholder="Search">
	</form>
</div>