<div id="header-actions" class="visible-desktop tcl">
	<div class="container-fluid">
		{% include 'header_cart' %}
		<span class="divider">/</span>
		{% include 'header_session' %}
		<a class="checkout" href="/cart">Checkout</a>
	</div>
</div>