<div class="container-fluid">
	<div class="row-fluid">
		
		<div id="mobile-search-wrap" class="visible-phone visible-tablet">
			<div id="mobile-search">
				
				<form class="form-search form-search-large form-inline" name="search" action="/search"> 
				  <input type="text" name="q" class="span12 search-query search replace" placeholder="To search type and hit enter">
				</form>
				
			</div>
		</div>
		
	</div>
</div>