{% assign payment_methods_string = 'paypal, google-checkout, visa, mastercard, maestro, cirrus, american-express, discover, 2checkout' %}
{% assign methods = payment_methods_string | split: ', ' %}

<div id="payment-methods">
{% if settings.payment_methods_accepted_text != '' %}
<p id="accepted-text">{{ settings.payment_methods_accepted_text }}</p>	
{% endif %}
	
{% for method in methods %}
	{% assign display_current_method = method | prepend: 'payment_methods_display_' | append: '?' %}
	
	{% if settings[display_current_method] %}
		{% assign current_method_icon = method | prepend: 'icon-cc-' | append: '.png' %}
		<span class="payment-method">
			<a href="/cart" title="{{ method | replace: '-', ' ' | downcase | capitalize }}">{{ current_method_icon | asset_url | img_tag: method }}</a>
		</span>
	{% endif %}
	
{% endfor %}
</div>