{% if product.options.first == "Title" and product.variants.first.title == "Default Title" %}
	{% assign default_options = true %}
{% endif %}

<header>
	<h1 class="name">{{ product.title }}</h1>
	{% if settings.product_display_vendor? %}
	<span class="brand">{{ product.vendor | link_to_vendor }}</span>
	{% endif %}
</header>