{% include 'variables' %}

{% if template contains 'customer' %}
	{% assign the_sidebar = 'sidebar_account' %}
{% elsif template contains 'blog' or template contains 'article' %}
	{% assign the_sidebar = 'sidebar_blog' %}
{% else %}
	{% assign the_sidebar = 'sidebar_page' %}
{% endif %}

{% if settings.page_sidebar_side == 'right' %}
	{% assign sidebar_margin = 'offset1' %}
{% else %}
	{% assign sidebar_margin = '' %}
{% endif %}

<div class="span{{ sidebar_span }} {{ sidebar_margin }}">
	<aside id="site-sidebar">
	<h1 class="section-title">Sidebar</h1>
	{% include the_sidebar %}
	</aside>
</div>