<ul class="link-list">
	{% for collection in collections %}
		{% if settings.widget_collections_filter != '' %}
			{% for tag in collection.tags %}	
				{% if tag == settings.widget_collections_filter %}
					<li>{{ collection.title | link_to: collection.url }}</li>
				{% endif %}
			{% endfor %}			
		{% else %}
			<li>{{ collection.title | link_to: collection.url }}</li>
		{% endif %}
	{% endfor %}
</ul>