{% if settings.widget_twitter_feed_source != '' %}
	<div class="twitter-feed" data-source="{{ settings.widget_twitter_feed_source }}" data-limit="{{ settings.widget_twitter_feed_limit }}"></div>
{% endif %}
