<form class="form-search form-inline" name="search" action="/search"> 
  <input type="text" name="q" class="input-small search-query search replace" placeholder="To search type and hit enter">
  <!-- <button type="submit" class="btn btn-primary">Search</button> -->
</form>
