{% if settings.widget_cart_display_quantity? %}
	<span class="cart-qty">
	<a href="/cart">
     <span class="i-wrap"><i class="icon-shopping-cart"></i></span> {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}

		{% if settings.widget_cart_display_total? %}
			<span class="cart-total">
				<span class="value">{{ cart.total_price | money }}</span>
				<span class="currency">{{ shop.currency }}</span>
			</span>
		{% endif %}
  </a>
	</span>
{% endif %}