{% assign has_sidebar = false %}
{% assign has_crumbs = true %}
{% include 'page_header' with 'Search' %}
{% include 'container_open' %}
{% include 'page_content_open' with has_sidebar %}

<form class="form-search form-search-large form-inline" name="search" action="/search"> 
  <input type="text" id="q" name="q" class="span12 search-query search replace" placeholder="To search type and hit enter">
</form>

{% if search.performed %}
  {% paginate search.results by 12 %}  

	{% if search.results_count > 0 %}
		<h3 id="results-title">Results for '{{ search.terms | escape }}'&hellip;</h3>
	{% else %}
		<h3 id="results-title">Sorry, we couldn't find anything for '{{ search.terms | escape }}'.</h3>
		<p>For best results, try the following:	</p>

		<ul>
			<li>Check your spelling</li>
			<li>Enter a different search term</li>
			<li>Use fewer keywords to broaden your search</li>
		</ul>

		<p>Perhaps one of the products below will be of interest. Of course, you could always <a href="/collections">browse through the shop</a> or return <a href="/">home</a> as well.

	{% endif %}

	<div id="search-results">
		{% for item in search.results %}
			{% include 'get_content_type' with item %}
			{% include 'search_result' with item %}
	  {% endfor %}
	</div>
  {% include 'pagination_numbered' %}
  {% endpaginate %}
{% endif %}


{% include 'page_content_close' %}		
{% include 'container_close' %}