<!DOCTYPE html>
	{% include 'html_tag' %}
	<head>
		{% include 'variables' %}
    <!-- Meta -->
		{% include 'meta' %}
    <!-- Styles -->
    {% include 'head_styles' %}
    <!-- Scripts -->
		{% include 'head_scripts' %}
		{{ content_for_header }}
	</head>

	<body class="{{template}}">
		{% include 'header_actions' %}
		
		<div id="theme-bg">
	  	{% include 'header' %}
		
		  <!-- Content -->
			<section id="page-content">
				<div class="container-fluid">
				{% if template == 'list-collections' %}
					{% include 'collection_listing' %}
				{% else %}
					{{ content_for_layout }}
				{% endif %}
				</div>
				<div class="footer-top-cap"></div>
			</section>				
		</div>	

		
		{% include 'footer' %}
		{% include 'footer_scripts' %}	
	</body>

</html>