{% if settings[display_prev_next] %}

  {% if blog.previous_article or blog.next_article %}
  	<div class="article-prev-next clearfix">

  		{% if blog.previous_article %}
  			<div class="pull-left">
  			{{ '&larr; Previous post' | link_to: blog.previous_article }}
  			</div>
  		{% endif %}

  		{% if blog.next_article %}
  			<div class="pull-right tar">
  			{{ 'Next post &rarr;' | link_to: blog.next_article }}
  			</div>
  		{% endif %}
  	</div>
	{% endif %}
	
{% endif %}