{% assign has_sidebar = false %}
{% assign has_crumbs = false %}
{% include 'page_header' with 'Collections' %}
{% include 'container_open' %}
{% include 'page_content_open' with has_sidebar %}
<section>

	{% if collections.size > 0 %}
		<div class="thumbnails collections">
			{% for collection in collections %}
        {% include 'collection_small' %}
  		{% endfor %}
		</div>
		{% include 'pagination_numbered' %}
	{% else %}
		<p class="empty">There are currently no products in this collection.</p>
	{% endif %}

</section>
{% include 'page_content_close' %}		
{% include 'container_close' %}