<div id="guest-login" class="account-session-module">
	<div class="inner">
    
    <h3>Guest Sign-in</h3>
  	{% form 'guest_login' %}
  	  <fieldset>
	
  			<p class="note">Continue checkout as a guest. No sign-up required.</p>
			
  			<div class="form-actions">
  			  <button type="submit" class="btn btn-primary btn-large">Continue as Guest</button>
  			</div>

  	  </fieldset>
  	{% endform %}
  	
	</div>
</div>