{% include 'mobile_search' %}

<div id="site-wrap">
	
	<!-- Header -->
	<header id="site-header" class="clearfix">
 		<div class="container-fluid">
			<div class="clearfix">
 				{% include 'branding' %}

				<div id="nav-with-search">
					{% include 'header_search' %}
 					{% include 'nav_primary' %}
				</div>
				
				<div id="mobile-toggles" class="pull-right visible-phone">
					<a href="#" id="toggle-mobile-nav"><i class="icon-plus"></i></a>
					<a href="#" id="toggle-mobile-search"><i class="icon-search"></i></a>
				</div>
				
			</div>
		
			{% include 'nav_mobile_list' %}
			
 		</div>
 	</header>