<section class="index-products collection">
	<div class="row-fluid">

	{% if settings.index_products_title != '' %}
		<h1>{{ settings.index_products_title }}</h1>
	{% endif %}

	<div class="thumbnails products">
	{% for product in collections[settings.index_products].all_products limit: settings.index_products_limit %}

			{% if settings.index_products_filter != '' %}
				{% for tag in product.tags %}
					{% if tag == settings.index_products_filter %}
					  {% include 'product_small' %}
					{% endif %}
				{% endfor %}
			{% else %}
	      {% include 'product_small' %}
			{% endif %}
		
	{% endfor %}
	</div>

	</div>
</section>