{% assign has_sidebar = false %}
{% include 'page_header' with "Page Not Found" %}
{% include 'container_open' %}
{% include 'page_content_open' with has_sidebar %}

<p>Oops! Something has gone wrong and the page you were looking for could not be found.</p>
<p>Try the <a href="/">home page</a>.</p>

{% include 'page_content_close' %}		
{% include 'container_close' %}