{% assign has_sidebar = false %}
{% assign has_crumbs = true %}
{% include 'page_header' with page.title %}
{% include 'container_open' %}
{% include 'page_content_open' with has_sidebar %}

{% unless settings.display_contact_form? %}
	{{ page.content }} &nbsp;
{% else %}

<div class="row-fluid">
	<div class="span7">
		{{ page.content }}
	</div>
	<div class="span4 offset1">
		<div id="contact-form">
		{% form 'contact' %}

		{% if form.posted_successfully? %}
		<div class="alert alert-success">
			<a class="close" data-dismiss="alert">×</a>
		 	Thanks for contacting us! We'll get back to you as soon as possible.
		</div>
		{% endif %}

		{% if form.errors %}
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert">×</a>
				<strong>Oops! There were some errors with your submission:</strong>
				<ul class="error-list">
					{% for field in form.errors %}
						<li>{{ field }} - {{ form.errors.messages[field] }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %} 

		<fieldset>

			<div class="control-group">
			  <label class="control-label" for="name">Name</label>
			  <div class="controls">
			    <input type="text" class="span12" id="name" name="contact[name]">
			  </div>
			</div>

			<div class="control-group">
			  <label class="control-label" for="email">Email</label>
			  <div class="controls">
			    <input type="email" class="span12" id="email" name="contact[email]">
			  </div>
			</div>

			<div class="control-group">
			  <label class="control-label" for="message">Message</label>
			  <div class="controls">
					<textarea id="message" class="span12" name="contact[body]" rows="8" ></textarea>
			  </div>
			</div>

		</fieldset>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>

		{% endform %}
		</div>
	
	</div>
</div>

{% endunless %}

{% include 'page_content_close' %}		
{% include 'container_close' %}